# Postgres Data Warehouse
POSTGRES_USER=pipeline_user
POSTGRES_PASSWORD=pipeline_pass
POSTGRES_DB=data_jobs
POSTGRES_PORT=5432

# Postgres Airflow Metadata
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow_pass
AIRFLOW_POSTGRES_DB=airflow_metadata
AIRFLOW_POSTGRES_PORT=5433

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=your_fernet_key_here
AIRFLOW__WEBSERVER__SECRET_KEY=your_secret_key_here
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com
